.App-Header {
    background: linear-gradient(90deg, #4facfe, #00f2fe);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: black;
}

.App-Header li {
    list-style: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.App-Header li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}